{% extends 'base.html' %} 
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{code}} for a Client</h2>
  <div class="messages" id="messages">
    {% for message in messages %}
    <div class="text">
      <span><strong>{{ message.name }}</strong>: {{ message.message }}</span>
      <span class="muted">{{ message.timestamp }}</span>
    </div>
    {% endfor %}
  </div>
  <form id="message_form">
    <div class="inputs">
      <input
        type="text"
        id="message_input"
        name="message"
        placeholder="Message"
        onkeyup="enterkey()"
      />
      <button id="send_button" type="submit">Send</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var socket = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, role) => {
    const content = `
        <div class="text">
            <span><strong>${name} (${role})</strong>: ${msg}</span>
            <span class="muted">${new Date().toLocaleString()}</span>
        </div>
        `;
    messages.innerHTML += content;
  };

  socket.on("message", (data) => {
    createMessage(data.name, data.message, data.role);
  });

  const sendMessage = async (event) => {
    event.preventDefault();
    const message = document.getElementById("message_input").value;
    if (message === "") return;

    socket.emit("message", { data: message, role: "Client" });

    const assistantMessage = await sendMessageToAssistant(message);
    createMessage('AI Assistant', assistantMessage, 'Assistant');

    document.getElementById("message_input").value = "";
  };

  const enterkey = () => {
    if (window.event.keyCode === 13) {
      sendMessage(event);
    }
  };

  document.getElementById("message_form").addEventListener("submit", sendMessage);

  const sendMessageToAssistant = async (message) => {
    const response = await fetch('/process_message', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ message: message })
    });

    const data = await response.json();
    return data.message;
  };

  socket.on("connect", () => {
    console.log("Connected to server");
  });
</script>
{% endblock %}
